<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>Data fetched from .Site.Data</h1>
    {{ printf "%#v" $.Site.Data }}
    
    <h1>Content from .Content</h1>
    But there is no content here. 
    {{ $.Content }}

    <h1>Content from partials </h1>
    <h2>This is the index partial for departments</h2>
    {{ partial "departments.html" . }}

    <h2>This is the index partial for teams</h2>
    {{ partial "teams.html" . }}

    <h2>This is the Jazz example</h2>
    {{ range $.Site.Data.jazz.bass }}
        {{ partial "artists.html" . }}
    {{ end }}
    <h2>This is the index partial for footer</h2>
    {{ partial "footer.html" . }}
</body>
</html>
